a.navbar-brand svg {
  height: 50px;
  width: 40px;
  margin-right: 2rem;
}

img[alt="TLS Scanner Logo"],
.logo {
  height: 6rem;
  width: 6rem;
}

.index-heading {
  font-size: 5rem;
  font-weight: lighter;
}

.index-heading img {
  position: relative;
  top: -0.3rem;
  margin-right: 1rem;
}

.mermaid,
.mermaid svg{
	max-width: 100%;
}

@media print {
  .mermaid,
  .mermaid svg {
    max-width: 180mm;
    margin: 0 auto;
  }
}
