/* Copyright (c) Microsoft, @CodeBeans, Florian Hiensch. */

/* ALERTS */

.alert {
	padding: 0px 0px 5px 0px;
	color: inherit;
	background-color: inherit;
	border: none;
	box-shadow: 0px 2px 2px 0px rgba(100, 100, 100, 0.4);
}

.alert > p {
	margin-bottom: 0;
	padding: 5px 10px;
}

.alert > ul {
	margin-bottom: 0;
	padding: 5px 40px;
}

.alert > h5 {
	padding: 10px 15px;
	margin-top: 0;
	text-transform: uppercase;
	font-weight: bold;
	border-radius: 4px 4px 0 0;
}

.alert-info > h5 {
	color: #1976d2;
	border-bottom: 4px solid #1976d2;
	background-color: #e3f2fd;
}

.alert-warning > h5 {
	color: #f57f17;
	border-bottom: 4px solid #f57f17;
	background-color: #fff3e0;
}

.alert-danger > h5 {
	color: #d32f2f;
	border-bottom: 4px solid #d32f2f;
	background-color: #ffebee;
}

.alert-danger.IMPORTANT > h5::before {
	content: "\e162";
}

/* Navbar */

.navbar-brand h1 {
	font-size: 2rem;
	margin-right: 1rem;
	float: right;
}

#navbar ul.nav li {
	position: relative;
	top: 0.3rem;
}

/* Side TOC */

#sidetoc * {
	background: none;
	border: none;
}

.toc .nav > li.active > .expand-stub::before,
.toc .nav > li.in > .expand-stub::before,
.toc .nav > li.in.active > .expand-stub::before,
.toc .nav > li.filtered > .expand-stub::before {
	/*content: "⏷";*/
	content: "\E114";
	position: relative;
	right: 2px;
}

.toc .nav > li > .expand-stub::before,
.toc .nav > li.active > .expand-stub::before {
	/*content: "⏵";*/
	content: "\E080";
	right: 3px;
	position: relative;
	font-family: "Glyphicons Halflings";
	font-size: 12px;
}

.toc > ul > li > ul a {
	padding: 6px 0;
}
.navbar-nav > li > a {
	padding-left: 8px;
	padding-right: 8px;
}

.sideaffix {
	overflow: visible;
}

/* Optimize Print */

@media print {
	.article {
		margin-top: 0px;
	}
}
